:root {
  --mainFontSize: 12px;
  --smallSize: 10px;
}

body, div, span, textarea {
	font-family: Helvetica, Arial, sans-serif;
	font-size: var(--mainFontSize);
}

* {
	box-sizing: border-box;
}

.chat-container {
	position: fixed;
	max-width: 400px;
  max-height: 370px;
  bottom: 0;
  right: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -5px 15px #cccccc;
}

@media (max-width: 768px) {
	.chat-container {
		max-width: 100%;
		left: 0;
		right: 0;
	}
}

.chat-container__header {
	position: sticky;
	width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  font-size: var(--mainFontSize);
  color: #ffffff;
  padding: 10px 12px;
  background-color: #404040;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 3px 5px #999999;
}

.chat-container__status {
	font-size: var(--smallSize);
	font-weight: 800;
	color: green;
}

.chat-container__typing {
	display: none;
	font-style: italic;
	font-size: var(--smallSize);
}

.show {
	display: inline-block;
}

.chat-container__chat-holder {
	position: relative;
	max-height: 260px;
	padding: 0 15px 10px;
	overflow-y: scroll;
}

.chat-container__chat-box {
	position: relative;
	background: transparent;
	animation: expand .3s ease-in-out;
}

@keyframes expand {
  from {
    transform: scale(0);
  }
}

.chat-container__chat-input {
	width: 95%;
	margin-left: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #f0f2f4;
}

.chat-container--bubble {
	width: 50%;
	padding: 15px;
	margin-top: 10px;
	border-radius: 10px;	
}

@media (max-width: 768px) {
	.chat-container--bubble {
		width: 100%;
	}
}

.chat-container__operator {
	margin-left: 185px;
  color: #ffffff;
  text-align: right;
  background-color: #8197d6;
}

@media (max-width: 768px) {
	.chat-container__operator {
		margin-left: 0;
	}
}

.chat-container__visitor {
  background-color: #dde6ff;
}

.chat-container--message {
	margin: 0;
}

.chat-container__meta-operator,
.chat-container__meta-visitor {
	color: #999999;
	font-size: var(--smallSize);
}

.chat-container__meta-operator {
	text-align: right;
}

.chat-container__meta-visitor {
  text-align: left;
}

.chat-container__message-operator {
	text-align: right;
}

